@model IEnumerable<Lab_04_ED.Models.DesarolladoresInf>

@{
    ViewData["Title"] = "VerDesarrolladores";
}

<h1>Ver Desarrolladores</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (DesarolladoresInf item in ViewBag.Desarrolladores)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.ActionLink("Agregar Tarea", "AgregarTarea", new { idDV = item.Id })|
                    @Html.ActionLink("Finalizar Tarea", "EliminarTarea", new { idDV = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
 @TempData["Mensaje"]
<hr />
<div>
    <a asp-action="IndexEncargado" class="btn btn-outline-dark">Regresar</a>
</div>